<h3>{{name}}</h3>
<table class="table table-striped">
    <tbody>
    <tr>
        <th scope="row">Площадь</th>
        <td>{{area}} кв.м.</td>
    </tr>
    <tr>
        <th scope="row">Тип объекта</th>
        <td>{{place_rank}}</td>
    </tr>
    <tr>
        <th scope="row">Страна</th>
        <td>{{country}}</td>
    </tr>
    <tr>
        <th scope="row">Код страны</th>
        <td>{{country_code}}</td>
    </tr>
    <tr>
        <th scope="row">Район</th>
        <td>{{county}}</td>
    </tr>
    <tr>
        <th scope="row">Область</th>
        <td>{{state}}</td>
    </tr>
    </tbody>
</table>