<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">{{name1}}</th>
        <th scope="col">{{name2}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Площадь</th>
        <td>{{area1}} км<sup>2</sup></td>
        <td>{{area2}} км<sup>2</sup></td>
    </tr>
    <tr>
        <th scope="row">Тип объекта</th>
        <td>{{place_rank1}}</td>
        <td>{{place_rank2}}</td>
    </tr>
    <tr>
        <th scope="row">Страна</th>
        <td>{{country1}}</td>
        <td>{{country2}}</td>
    </tr>
    <tr>
        <th scope="row">Код страны</th>
        <td>{{country_code1}}</td>
        <td>{{country_code2}}</td>
    </tr>
    <tr>
        <th scope="row">Район</th>
        <td>{{county1}}</td>
        <td>{{county2}}</td>
    </tr>
    <tr>
        <th scope="row">Область</th>
        <td>{{state1}}</td>
        <td>{{state2}}</td>
    </tr>
    </tbody>
</table>